---
- name: 'Check zone'
  ansible.builtin.uri:
    url: "http://127.0.0.1:{{ dns_server_api_port }}/api/v1/servers/localhost/zones/{{ zone }}."
    method: 'GET'
    headers:
      X-API-Key: "{{ dns_server_api_key }}"
    status_code:
      - 200
      - 404
      - 422
  register: 'zone_api_status'

- name: 'Ensure primary zones'
  when:
    - zone_api_status['status'] != 200
    - dns_server_role == 'primary'
  block:
    - name: 'Ensure primary zone'
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ dns_server_api_port }}/api/v1/servers/localhost/zones"
        method: 'POST'
        body:
          name: "{{ zone }}."
          kind: 'master'
          nameservers:
            - "{{ dns_server_ns_name }}."
        body_format: 'json'
        headers:
          X-API-Key: "{{ dns_server_api_key }}"
        status_code: 201
      changed_when: true

    - name: 'Ensure primary zone settings'
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ dns_server_api_port }}/api/v1/servers/localhost/zones/{{ zone }}"
        method: 'PUT'
        body:
          dnssec: true
        body_format: 'json'
        headers:
          X-API-Key: "{{ dns_server_api_key }}"
        status_code: 204
      changed_when: true

    - name: 'Ensure primary zone default content'
      ansible.builtin.uri:
        url: "http://127.0.0.1:{{ dns_server_api_port }}/api/v1/servers/localhost/zones/{{ zone }}"
        method: 'PATCH'
        body:
          rrsets:
            - name: "{{ zone }}."
              type: "SOA"
              ttl: "{{ dns_server_default_ttl }}"
              changetype: "REPLACE"
              records:
                - content: "{{ dns_server_ns_name }}. hostmaster.{{ zone }}. 2020010101 600 600 604800 600"
                  disabled: false
            - name: "{{ zone }}."
              type: "NS"
              ttl: "{{ dns_server_default_ttl }}"
              changetype: "REPLACE"
              records:
                - content: "{{ dns_server_ns_name }}."
                  disabled: false
        body_format: 'json'
        headers:
          X-API-Key: "{{ dns_server_api_key }}"
        status_code: 204
      changed_when: true

- name: 'Ensure secondary zone'
  ansible.builtin.uri:
    url: "http://127.0.0.1:{{ dns_server_api_port }}/api/v1/servers/localhost/zones"
    method: 'POST'
    body:
      name: "{{ zone }}."
      kind: 'slave'
      masters: "{{ dns_server_primaries }}"
    body_format: 'json'
    headers:
      X-API-Key: "{{ dns_server_api_key }}"
    status_code: 201
  changed_when: true
  when:
    - zone_api_status['status'] != 200
    - dns_server_role == 'secondary'

- name: 'Activate TSIG key'
  ansible.builtin.uri:
    url: "http://127.0.0.1:{{ dns_server_api_port }}/api/v1/servers/localhost/zones/{{ zone }}/metadata/{{ zone_metadata['type'] }}"
    method: 'PUT'
    body:
      kind: "{{ zone_metadata['type'] }}"
      metadata:
        - "{{ dns_server_tsig_key_name }}"
    body_format: 'json'
    headers:
      X-API-Key: "{{ dns_server_api_key }}"
    status_code: 200
  changed_when: true
  loop:
    - type: 'TSIG-ALLOW-AXFR'
      when: true
    - type: 'TSIG-ALLOW-DNSUPDATE'
      when: "{{ dns_server_role == 'primary' }}"
    - type: 'AXFR-MASTER-TSIG'
      when: "{{ dns_server_role == 'secondary' }}"
  loop_control:
    loop_var: 'zone_metadata'
  when:
    - zone_metadata['when']
    - dns_server_tsig_key_name | length > 0
    - dns_server_tsig_key_value | length > 0
