# {{ ansible_managed }}
# API access for zone manipulation
api=yes
api-key={{ dns_server_api_key }}
webserver=yes
webserver-port=8081
webserver-address=127.0.0.1

# Port and listen address
local-address={{ dns_server_address }}
local-port={{ dns_server_port }}

# DNS update is used to register/update systems
dnsupdate=yes
allow-dnsupdate-from=127.0.0.0/8, {{ dns_server_address }} {% for ip in dns_server_nsupdate_ips %}, {{ ip }}{% endfor %}

# Default name for SOA
default-soa-name={{ dns_server_ns_name }}
